<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>information</title>
</head>

<body style="text-align: center;">

    <h1>A information form</h1>

    <form action="/result" method="get">

        <label>First name :</label> <input name="firstname" type="text" placeholder="enter you answer"><br>
        <label>Last name :</label> <input name="lastname" type="text" placeholder="enter you answer"><br>
        <label>Email :</label> <input name="email" type="email" placeholder="enter you answer"><br>
        <label>Password :</label> <input name="password" type="password" placeholder="enter you answer"><br>
        <label>Address :</label> <input name="address" type="text" placeholder="enter you answer"><br>

        <button type="submit" name="button">submit</button>

    </form>



</body>

</html>